@use "sass:math";
@use "./function" as *;
@use "breakpoints" as *;

/* purgecss start ignore */
/* purgecss end ignore */

:where(:root) {
  font-family: var(--font-sans, system-ui, sans-serif);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-dark, initial);
  letter-spacing: var(--base-letter-spacing, initial);
  color-scheme: var(--base-font-color-scheme, only light);
  background-color: var(--color-light, initial);
}

////////////////////
// Sass変数の登録
////////////////////
// コンテナー幅・余白
$container-max-width-md: 600px;
$container-padding-inline-md: 20px;
$container-max-width-lg: 1100px;
$container-padding-inline-lg: 25px;
// ヘッダー高さ
$header-height-md: rem(60);
$header-height-lg: rem(90);

:root {
  /* 単位変換 */
  --base-font-size: 16; /* ルートフォントサイズ(px) */
  --px-to-rem: calc(1rem / var(--base-font-size, 16));

  /* Font Family */
  --font-sans: "Noto Sans JP", sans-serif;
  // --font-sans2: "Montserrat", sans-serif;
  // --font-serif: "Noto Serif JP", serif;

  /* Color */
  --color-light: #fff;
  --color-dark: #333;
  // --color-main-light: #c0e4ff;
  --color-main: #57b8ff;
  // --color-main-dark: #008bf2;
  // --color-accent-light: #ffe380;
  --color-accent: #ffc700;
  // --color-accent-dark: #d2a400;

  // /* Header Height */
  // /* SP~TAB */
  // --header-height-md: #{rem(60)};
  // /* TAB~PC */
  // --header-height-lg: #{rem(90)};

  // /* Container */
  // /* SP~TAB */
  // --container-max-width-md: 600px;
  // --container-padding-inline-md: 20px;
  // /* TAB~PC */
  // --container-max-width-lg: 1100px;
  // --container-padding-inline-lg: 25px;

  /* Easing */
  /* Sine */
  --ease-in-sine: cubic-bezier(0.12, 0, 0.39, 0);
  --ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);
  --ease-in-out-sine: cubic-bezier(0.37, 0, 0.63, 1);

  /* Cubic */
  --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);

  /* Quint */
  --ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
  --ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);

  /* Circ */
  --ease-in-circ: cubic-bezier(0.55, 0, 1, 0.45);
  --ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
  --ease-in-out-circ: cubic-bezier(0.85, 0, 0.15, 1);

  /* Quad */
  --ease-in-quad: cubic-bezier(0.11, 0, 0.5, 0);
  --ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
  --ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);

  /* Quart */
  --ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);

  /* Expo */
  --ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);

  /* Back */
  --ease-in-back: cubic-bezier(0.36, 0, 0.66, -0.56);
  --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

body {
  /* Clamp Base Size */
  --clamp-viewport-min: 375;
  --clamp-viewport-max: 1200;
  --clamp-min: 14;
  --clamp-max: 16;
}

*,
::before,
::after {
  /* Clamp Calculation */
  --clamp-root-font-size: 16;
  --clamp: clamp(
    calc(var(--clamp-min) / var(--clamp-root-font-size, 16) * 1rem),
    calc(
      (var(--clamp-min) / var(--clamp-root-font-size, 16) * 1rem) +
        (
          (var(--clamp-max) - var(--clamp-min)) /
            (var(--clamp-viewport-max) - var(--clamp-viewport-min))
        ) * (100vw - var(--clamp-viewport-min) * 1px)
    ),
    calc(var(--clamp-max) / var(--clamp-root-font-size, 16) * 1rem)
  );

  // /* Font Size */
  // font-size: var(--clamp);
}
