@use "../settings" as *;

// fontはreset.scssでinheritしてある
// 疑似要素はinheritできないので、別途指定すること
// 入力欄はfont-size: 16px; 以上とすること（iOS対策）

.form {
  display: grid;
  row-gap: calc(40 * var(--px-to-rem));
  margin-block: calc(60 * var(--px-to-rem)) 0;
}

.form :focus-visible {
  outline: 2px solid var(--color-main);
  outline-offset: 2px;
}

.form__term {
  display: inline-block;
  margin-block: 0 calc(10 * var(--px-to-rem));
}

// [type="text"],
// [type="search"],
// [type="tel"],
// [type="url"],
// [type="email"],
// [type="password"],
// [type="date"],
// textarea
// select
.form__date,
.form__select,
.form__textfield,
.form__textarea {
  width: 100%;
  padding-block: 0.75em;
  padding-inline: 0.75em;
  border: 1px solid;
  border-radius: 0.625em;
}

.form__textarea {
  height: calc(400 * var(--px-to-rem));
}

// [type="date"]
.form__date {
  // カスタムのアイコンの場合
  position: relative;
  max-width: calc(400 * var(--px-to-rem));
  appearance: none;
  background-image: url(../images/icon-calender.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

// [type="date"]::-webkit-calendar-picker-indicator
.form__date::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  // カスタムのアイコンの場合
  opacity: 0;
}

/* Firefox用のスタイル設定 */
@-moz-document url-prefix() {

  /* デフォルトのカレンダーアイコンが消せないので、デザインで指定したカレンダーアイコンを非表示にする */
  // [type="date"]
  .form__date {
    background-image: none;
  }
}

/* Safari用のスタイル設定 */
// ::-webkit-full-page-media, :future, :root [type="date"]
::-webkit-full-page-media,
:future,
:root .form__date {
  /* デフォルトの高さが0なので、固定値で指定する */
  min-height: calc(50 * var(--px-to-rem));
}

// [type="date"]::-webkit-calendar-picker-indicator:focus-visible
.form__date::-webkit-calendar-picker-indicator:focus-visible {
  outline: 2px solid var(--color-main);
  outline-offset: 2px;
}

// [type="text"]::file-selector-button
.form__file::file-selector-button {
  padding-block: 0.5em;
  padding-inline: 0.625em;
  // 疑似要素なので、font: inherit;できないので要指定
  font-size: calc(16 * var(--px-to-rem));
  color: var(--color-dark);
  cursor: pointer;
  background-color: var(--color-light);
  border: 1px solid currentcolor;
  border-radius: 0.625em;
}

// select
.form__select {
  max-width: calc(400 * var(--px-to-rem));
  // カスタムのドロップダウンの場合
  appearance: none;
  background-image: url(../images/icon-down.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.form__fieldset {
  border: none;
}

.form__fieldset ul li {
  display: inline-block;
  margin-inline: 0 calc(10 * var(--px-to-rem));
}

.form__fieldset ul li label {
  display: flex;
  column-gap: calc(8 * var(--px-to-rem));
  align-items: center;
}

// [type="radio"],
// [type="checkbox"]
.form__radio,
.form__checkbox {
  position: relative;
  width: 1.25em;
  height: 1.25em;
  background-color: var(--color-light);
  border: 1px solid;
}

// [type="radio"]
.form__radio {
  border-radius: 50%;
}

// [type="radio"]:checked::after,
// [type="checkbox"]:checked::after
.form__radio:checked::after,
.form__checkbox:checked::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(12 * var(--px-to-rem));
  aspect-ratio: 1;
  content: "";
  background-color: var(--color-main);
  translate: -50% -50%;
}

// [type="radio"]:checked::after
.form__radio:checked::after {
  border-radius: 50%;
}

// [type="checkbox"]:checked::after
.form__checkbox:checked::after {
  clip-path: polygon(0 64%, 45% 100%, 100% 4%, 95% 0, 39% 82%, 6% 56%);
}

// button,
// [type="button"],
// [type="submit"]
.form__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-block: calc(10 * var(--px-to-rem));
  padding-inline: calc(20 * var(--px-to-rem));
  line-height: 1;
  color: var(--sub-color);
  cursor: pointer;
  background: var(--color-main);
  border-radius: 0.625em;
  transition: 0.3s opacity;
}
.form ::placeholder,
// その他の初期時（必須の場合のみ有効）
// input[type="date"]:invalid,
.form__date:invalid,
// select:invalid,
.form__select:invalid {
  color: #ccc;
  border-color: var(--color-dark);
}

// 初期値の色を変更する場合、選択肢の色も変更してしまうため上書き
// select option
.form__select option {
  color: var(--color-dark);
}

.form input:user-invalid:not(:focus),
.form textarea:user-invalid:not(:focus),
.form select:user-invalid:not(:focus) {
  background-color: color-mix(in srgb, var(--color-main) 20%, transparent);
  border: 1px solid var(--color-main);
}
